// Parámetros a definir 
params.reads="/labs/sbio/dpservs/dpcscripts/003_vc_data_pre/sample_sheet.txt"
params.out='/labs/sbio/dpservs/001_pruebas_vc/15_data_m/out'
params.picard="/labs/sbio/dpservs/programasd/progra_vc/picard.jar"
params.tmp="/labs/sbio/dpservs/001_pruebas_vc/15_data_m/tmp"
params.ref='/references/genomics-public-data/resources/broad/hg38/v0/Homo_sapiens_assembly38.fasta'
params.refdir='/references/genomics-public-data/resources/broad/hg38/v0'
params.gatk="/labs/sbio/dpservs/programasd/progra_vc/gatk-4.2.6.1/gatk"
params.outdir = "/labs/sbio/dpservs/001_pruebas_vc/15_data_m"
params.tmpdir = '/labs/sbio/dpservs/001_pruebas_vc/15_data_m/out/gatk_temp'
workDir = params.outdir + '/nextflow_work_dir'

executor {
  name = 'condor'
}
