// Parámetros a definir
// ruta del archivo con las rutas de los datos crudos
params.reads_tumor="/labs/sbio/dpservs/pipelines_INMEGEN/VC-Somatic-gatk4/sample_sheet_MLA.csv"

params.gatk="/labs/sbio/dpservs/programasd/progra_vc/gatk-4.2.6.1/gatk"

// Rutas necesarias para Mutec2
params.ref='/references/genomics-public-data/resources/broad/hg38/v0/Homo_sapiens_assembly38.fasta'
params.refdir="/references/genomics-public-data/resources/broad/hg38/v0"
params.onlygnomad='/references/genomics-public-data/resources/broad/hg38/v0/af-only-gnomad.hg38.vcf.gz'
params.common_biallelic="/labs/sbio/dpservs/indx_ref/vc_refs/somatic-hg38_small_exac_common_3.hg38.vcf.gz"
params.panelnormales="/labs/sbio/dpservs/001_pruebas_vc/004_spanelnormals/out/panelofNormals/m_pon.vcf.gz"

// Directorios de salida
params.outdir ="/labs/sbio/dpservs/001_pruebas_vc/012_vc_Somatic"
params.out= params.outdir + '/out'

workDir = params.outdir + '/nextflow_work_dir'

executor {
  name = 'condor'
  queueSize=14
}

