// Parámetros a definir
// Ruta de los archivos con los datos crudos
params.reads = "/labs/sbio/dpservs/data-rnaseq/*/*_R{1,2}_*.fastq.gz"

// ruta del directorio con los indices de bwa y samtools
params.ref_dir = "/labs/sbio/dpservs/indx_ref/STAR_index/"
params.ref="/labs/sbio/dpservs/indx_ref/STAR_index/Homo_sapiens.GRCh38.dna.primary_assembly.fa"

// nombre y ruta del directorio donde se almacenaran los resultados de todos los procesos
params.outdir = "/labs/sbio/dpservs/001_pruebas_vc/013_vcRNA"

// nombre y ruta de los ejecutables que utiliza el pipeline
params.gatk ="/labs/sbio/dpservs/programasd/progra_vc/gatk-4.2.6.1/gatk"
params.picard = "/labs/sbio/dpservs/programasd/progra_vc/picard.jar"
params.pl = "illumina"
params.pm = "nextseq"

// numero de cores para star
params.cores=4

// directorios de la base de datos de annovar
params.annovar= "/home/programs/annovar"

// Directorios adicionales
params.out = params.outdir + '/out'
params.tmpdir = params.out + '/gatk_temp'

// By default this gets set to params.outdir + '/nextflow_work_dir'
workDir = params.outdir + '/nextflow_work_dir'

executor {
  name = 'condor'
  queueSize=8
}
