// Parámetros a definir
// Ruta de los archivos con los datos crudos
params.reads = "/labs/sbio/dpservs/prueba_VC2/*_R{1,2}_*.fastq.gz"
params.project_name = "projectoA"
//params.readybams="/labs/sbio/dpservs/dpcscripts/007_vc_gatk_conjunto/sample_sheet.csv"

// ruta del directorio con los indices de bwa y samtools
params.ref = "/references/genomics-public-data/resources/broad/hg38/v0/Homo_sapiens_assembly38.fasta"
params.refdir='/references/genomics-public-data/resources/broad/hg38/v0'

// nombre y ruta del directorio donde se almacenaran los resultados de todos los procesos
params.outdir = "/labs/sbio/dpservs/001_pruebas_vc/002_vconbst"

// nombre y ruta de los ejecutables que utiliza el pipeline
params.gatk ="/labs/sbio/dpservs/programasd/progra_vc/gatk-4.2.6.1/gatk"
params.picard = "/labs/sbio/dpservs/programasd/progra_vc/picard.jar"
params.snpEff = "/labs/sbio/dpservs/programasd/progra_vc/snpEff_latest_core/snpEff/snpEff.jar"
params.parse_metrics = "/labs/sbio/dpservs/dpcscripts/001_vc_gatk_modules/parse_metrics.sh"
params.snpeff_db = "hg38"
params.pl = "illumina"
params.pm = "nextseq"
params.interval_list="/references/genomics-public-data/resources/broad/hg38/v0/wgs_calling_regions.hg38.interval_list"

// numero de cores para bwa
params.ncrs=4

// Parámetros para genomics db
params.batchsize=2
params.GI_cores=4

// directorios de la base de datos de annovar
params.annovar= "/home/programs/annovar"

// Directorios adicionales
params.out = params.outdir + '/out'
params.tmpdir = params.out + '/gatk_temp'
params.snpeff_data = params.out + '/snpeff_data'

// By default this gets set to params.outdir + '/nextflow_work_dir'
workDir = params.outdir + '/nextflow_work_dir'

executor {
  name = 'condor'
  queueSize=8
}
