// Directorios para el analisis
params.normal_bam="/labs/sbio/dpservs/pipelines_INMEGEN/PureCN/sample_sheet_normal.csv"
params.tumor_bam="/labs/sbio/dpservs/pipelines_INMEGEN/PureCN/sample_sheet_tumor.csv"
params.tumor_vcfs="/labs/sbio/dpservs/pipelines_INMEGEN/PureCN/sample_sheet_vcf.csv"
params.purecn="/labs/sbio/dpservs/miniconda3/envs/nf-gatk/lib/R/library/PureCN/extdata"
params.int_listN="/labs/sbio/dpservs/dpcscripts/010_pre_pureCN/S03723314_Covered_hg38_intervals_100mer.txt"
params.int_listT="/labs/sbio/dpservs/dpcscripts/010_pre_pureCN/S03723314_Covered_hg38_intervals_100mer.txt"
params.pondb="/labs/sbio/dpservs/001_pruebas_vc/005_melanoma/01_panelofnormals/out/panelofnormals/m_pon.vcf.gz"
//params.pondb="/labs/sbio/dpservs/001_pruebas_vc/004_spanelnormals/out/genomicsDB/pon_database"

// Directorios de salida
params.outdir ="/labs/sbio/dpservs/001_pruebas_vc/013_pureCN"
params.out= params.outdir + '/out'

workDir = params.outdir + '/nextflow_work_dir'

executor {
  name = 'condor'
  queueSize=8
}
